/*.componentList {*/
/*    display: grid;*/
/*    gap: 12px;*/
/*}*/

/*.componentCard {*/
/*    padding: 12px;*/
/*    border-radius: 8px;*/
/*    background: #1a1a1a;*/
/*    border: 1px solid #333;*/
/*}*/

/*.componentCard__title {*/
/*    display: flex;*/
/*    gap: 6px;*/
/*    align-items: baseline;*/
/*}*/

/*.componentCard__meta {*/
/*    margin-top: 4px;*/
/*    opacity: 0.85;*/
/*    font-size: 0.9rem;*/
/*    margin-left: 20px;*/

/*}*/

/*.componentCard__actions {*/
/*    margin-top: 10px;*/
/*    display: flex;*/
/*    gap: 8px;*/
/*    margin-left: 20px;*/
/*}*/
/*.componentCard__Button{*/
/*    background: rgba(62, 62, 62, 0.98);*/
/*    border: 1px solid #8c8b8b*/

/*}*/